eqb/
.env
scripts/
src/__pycache__/
cache/
cache/departments.cache
cache/departments.meta
.vscode/
src/layout/__pycache__/
src/tables/__pycache__/
src/pages/__pycache__/
src/services/__pycache__/
src/state/__pycache__/
local_test_scripts/